@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background:#262626;
  height: 100%;
  overflow: hidden;
}

.cont{
  margin: 80px 0px;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 30px;
  background: linear-gradient(
    180deg,
    rgba(16, 58, 197, 0.28) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 20px;
  width: 80vw;
  max-width: 890px;
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 9;
}


.info {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 450px;
  padding: 0 35px;
}

.info p{
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1.5;
}

.movie-night {
  background: linear-gradient(225deg, #023059 0%, #041e57 50%, #00b6ca 100%);
}

.btn {
  display: block;
  padding: 10px 40px;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #f3f3f3;
  background: #0051ca;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(236, 236, 236, 0.3);
  cursor: pointer;
}

.btn:hover, .btn:focus, .btn:active, .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
}

@keyframes gelatine {
  
  0%, 100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.link-home{
  color: white;
  text-decoration: none;
}

/* SWIPER */

.imagemQuemSomos{
  width: 190px;
  border-radius: 8px;
  height: auto;
}

/* ANIMATED BACKGROUND */

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #ff3cac;
  background-image: linear-gradient(225deg, #4686be 0%, #0051ca 50%, #3C3C3C 100%);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {

  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}

@media (max-width:960px) {
  .cont{
    height: auto;
    padding: 10px 0px;
    flex-direction: column-reverse;
  }
}

/*QUEM SOMOS*/

.sobre-nos {
  background: #002d2b;
  height: 600px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  font-family: 'Nova Square', cursive;
  font-family: 'Roboto Flex', sans-serif;
  
}

.integrantes {
  position: relative;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  z-index: 9;
}

.roteiristas{
  gap: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 50px;
  z-index: 9;
}
.card-client {
  background: var(--Preto-Claro);
  width: 13rem;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  border: 4px solid #fff;
  box-shadow: 0 6px 10px #212121;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease;
}

.card-client:hover {
  transform: translateY(-10px);
}

.user-picture {
  overflow: hidden;
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  border: 4px solid #fff;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.user-picture i {
  width: 2.5rem;
  fill: currentColor;
}

.name-client {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 18px;
}

.name-client span {
  display: block;
  font-weight: 200;
  font-size: 16px;
}

.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #fff;
}

.social-media a {
  position: relative;
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a i{
  font-size: 26px;
  fill: currentColor;
}

/*-- Tooltip Social Media --*/
.tooltip-social {
  background: #262626;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 0.5rem 0.4rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -90%);
  transition: all 0.2s ease;
  z-index: 1;
}

.tooltip-social:after {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: 50%;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: transparent;
  transform: translate(-50%, 100%);
}

.social-media a .tooltip-social:after {
  border-top-color: #262626;
}

.social-media a:hover .tooltip-social {
  opacity: 1;
  transform: translate(-50%, -130%);
}

.bi-github:hover{
 color: var(--Preto);
}

.bi-linkedin:hover{
  color: #0e76a8
}

/*Abas interativas*/

#container{
	background-color: var(--Azul-Escuro);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
  width: 75vw;
  height: 475px;
  z-index: 100;
  margin-bottom: 50px;
  display: none;
}

.tab-buttons{
	display: flex;
	gap: 6px;
}

.tab-btn{
	width: 10%;
	border: none;
	border-radius: 8px 8px 0px 0px;
	background-color: aliceblue;
	font-weight: 500;
	padding: 8px;
	cursor: pointer;
	transition: background-color .3.5s ease;
}
.tab-btn.active{
	background-color: #44a3fc8a;
  color: #ffffff;
}

.tab-btn:hover{
	background-color: #44a3fc8a;
	color: #ffffff;
}

.content{
	display: none;
}

.content.show{
	display: flex;
  gap: 20px;
	background-color: #44a3fc8a;
	padding: 16px;
  height: 330px;
  justify-content: center;
}



@media(max-width: 1660px){
  .content.show{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .social-media a i{
    font-size: 23px;
    fill: currentColor;
  }
  .tab-btn{
    width: max-content;
  }
}

@media(max-width: 1230px){
  #container{
    height: 900px;
  }
  .content.show{
    height: 625px;
    display: flex;
    align-items: center;
  }
  #card-roteiro{
    height: 50%;
  }
}

@media(max-width: 960px){
  #container{
    height: 900px;
  }
  .content.show{
    height: 850px;
    flex-wrap: wrap;
    padding: 30px;
  }
}
@media(max-width: 785px){
  .tab-btn{
    width: 13%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
  }
  .tab-btn.active{
    width: 25%;
    
  }
}

@media(max-width: 660px){
  #container{
    height: 1320px;
  }
  .content.show{
    height: 1260px;
  }
 
  #Roteiristas{
    flex-direction: column;
  }
  #card-roteiro{
    height: 30%;
  }
  .tab-btn{
    width: 16%;
  }
  .tab-btn.active{
    width: 28%;
    
  }
}
@media(max-width:569px){
  .tab-btn.active{
    width: 29%;
    padding: 8px;
  }
}
@media(max-width:450px){
  .tab-btn{
    font-size: 13px;
  }
}

@media(max-width: 375px){
  #card-roteiro{
    width: 100%;
  }
}