@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 40px;
  margin: 50px auto;
  
}

.imgContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;  
  padding-top: 40px;
  padding-bottom: 40px;
}

.logo{
  height: 400px;
  width: auto;
}

.logoGlobal{
  width: auto;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 500px;
  height: auto;
  overflow: hidden;
  position: relative
}

.sectionTitle {
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-top: 20px;
  color: rgba(255, 255, 255, 0.918);
  
}

.sectionDescription {
  font-family: 'Edu TAS Beginner', cursive;
  font-size: 15px;
  text-align: center; 
  padding: 15px;
  color: #f3e8e8;
}


.DivmainCardImg{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  width: 100%;
}

.mainCardImg {
  Background-color: #000000;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 10px;
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
  
}


.sidebarCardImg {
  width: 100%;
  border-radius: 10px;
}

.categoryCard {
  background: linear-gradient(
    110deg,
    rgba(145, 146, 147, 0.28) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(10%);
  width: 340px;
  height: 420px;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
  display: grid;
}

.categoryCard:hover {
  border-color: rgb(5, 131, 120);
  /*width: 360px;*/
  padding-top: 8px;
  background: linear-gradient(
    190deg,
    rgba(35, 35, 36, 0.833) 0%,
    rgba(8, 8, 8, 0.483) 100%
  );
  transition-duration: 0.5s;
  backdrop-filter: blur(1%);
}

.gridContainer{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContent {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
  gap: 50px;
  padding-bottom: 60px;
}

.mainCategoryCardTitle {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 6px;
  color: white;
}

.mainCategoryCardDescription {
  text-align: center;
  padding: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: azure;
}

.btnLink{
  color: white;
  background: #262525;
  border-radius: 15px;
  padding: 10px;

}


