*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#arrow{
    position: fixed;
    bottom:150px;
    right: 0;
    font-size: 2.3rem;
    color: var(--Azul-Ciano);
    cursor: pointer;
    z-index: 9;
    transition: .4s;
}

#arrow.activePlayer{
    transform: rotate(180deg);
}

#player{
    width: 100%;
    background-color: var(--Preto);
    height: 60px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    gap: 50px;
    transition: .4s;
    right: -100%;
}

.characteristics{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 80px;
}

.logo-player{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-sound{
    width: 90%;
    height: 90%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.buttons{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
}

.buttons i{
    font-size: 2.5rem;
    cursor: pointer;
}

.counter{
    display: block;
}

.container-name{
    width: 80%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.timer{
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.activeSlide{
   animation: slide 10s infinite ease-in-out ;
}

#player.activePlayer{
    right: 0%;
}

@keyframes slide {
    0% {
        transform: translateX(100%); /* Inicia fora da tela na direita */
    }
    100% {
        transform: translateX(-175%); /* Desloca completamente para a esquerda */
    }
}    
.progress{
    display: flex;
    align-items: center;
    width:80%;
    height: 8px;
    background-color: #ddd;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #292929;
}

.progress-bar{
    width: 0%;
    background-color:var(--Azul-Ciano);
    height: 5px;
    border-radius: 5px;
}

.sound{
    padding-right: 20px;
}

.sound i{
    font-size: 2rem;
    cursor: pointer;
}


/* Para telas menores, altere para um layout de coluna */
@media screen and (max-width: 1000px) {
   #arrow{
    bottom: 200px;
   }
   
    #player{
        height: 200px;
        flex-direction: column;
        gap: 0px;
   }   

   .logo-player{
    width: 200px;
    height: 100px;
   }
   
   .characteristics{
    width: 100%;
   }
   .buttons{
    width: 60%;
   }
   .timer{
    width: 100%;
   }

}